:host{
    
        
   .form {
       
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
        text-align: end;
        min-height: 33rem;

        .form-label {
            font-weight: bold;
        }
       .required{
        color:red
       }
    

        .disabled {
            background-color: gray !important;
        }

    
    }
     .submit {
        display: flex;
        float: inline-start;
        justify-content: center;
    }
}